*{
  border: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}


#juke-wrapper{
  width: 500px;
  height: 400px;
  background: darkgrey;
  border-radius: 30px;
  padding: 10px;
  margin: auto;
  text-align: center;
}

#display{
  width: 450px;
  height: 200px;
  background: black;
  color: white;
  font-size: 30px;
  border-radius: 30px;
  border: 4px solid lightgrey;
  margin: auto;
}

#upper-buttons{
  overflow: auto;
  /*border: 2px solid blue;*/
  max-width: 395px;
  margin: auto;
}

#lower-buttons{
  overflow: auto;
  /*border: 2px solid red;*/
  width: 130px;
  margin: 5px 60px;
}

.buttons1{
  display: block;
  width: 75px;
  height: 40px;
  background: black;
  border: 2px solid red;
  border-radius: 10px;
  font-weight: bold;
  color: red;
  margin: 10px 2px;
  float: left;
}

.buttons2{
  display: block;
  width: 50px;
  height: 50px;
  background: black;
  border: 2px solid blue;
  border-radius: 150px;
  font-weight: bold;
  color: blue;
  float: left;
  box-shadow: 2px 2px 4px;
  margin: 0 5px;
}
